*{
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#b30ab3,#d81dd8 );
}

h1 {
    margin-bottom: 12px;
    font-family: 'manrope', sans-serif;
    color: white;
}

#box-1 {
   margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a{
    border: solid 2px pink;
    border-radius: 23px;
    background-color: white;
    padding: 5px 9px;
    text-decoration: none;
    color: #f0a3b0;
}